img {
    width: 42px;
    height: 42px;
    margin-right: 3px;
  }

.img-profile{
  width: 30px;
  height:30px;
}

.topbar-divider{
    border-right: 1px ridge rgba(99, 90, 90, 0.712);
}

.nav-item{
  font-size: 18px; 
}

.navbar{
  height:70px;
  background-color: #FFCC80;
}

.navbar-brand {
  font-size: 30px;
}
